<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Packetcode</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Youtube</a>
                </li>
            </ul>
            <form role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid p-5">
    <h1 class="fw-bold text-dark">This is the Homepage</h1>
    <p class="bg-light rounded-3 p-3 border-start border-3 border-dark">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Est
        perferendis
        voluptatibus alias eos aliquam velit
        dolore vitae non mollitia tempore consectetur, sed nihil voluptatum ipsum atque unde, dolor, inventore
        accusantium. Minus dignissimos aspernatur rerum error, illo consequatur perspiciatis esse veritatis delectus id
        quos iusto, labore, debitis ullam quam nulla vero recusandae nobis. Aliquam vel vitae quod adipisci ipsum quo at
        enim natus quasi perferendis fugiat cumque explicabo, nulla repudiandae itaque iste recusandae omnis quos maxime
        rem rerum tempore repellendus officiis ducimus! Doloremque, voluptatum laborum! Molestias rerum doloribus modi
        totam non alias perferendis maxime eius unde quae aliquam esse, obcaecati a?</p>
</div>